<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Winoutt</title>
</head>
<body style="font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;font-size: 16px;">
  <table width="425" border="0" align="center" cellpadding="0" cellspacing="0" style="color: #2D3339;">
    <tbody>
      <tr>
        <td style="text-align: center;">
          <a href="http://127.0.0.1:8000">
            <img src="https://winoutt-prod.s3.us-east-2.amazonaws.com/assets/logo.png" alt="Winoutt" width="125px" style="margin-top: 50px; margin-bottom: 20px;"/>
          </a>

           {% if success %}
                <p style="margin-bottom: 30px;">
                    Your email has been verified!
                </p>
                <a
                    href="http://127.0.0.1:8000"
                    style="padding: 12px 20px; background: #f52a5b; border-radius: 4px; color: white; text-decoration: none; display: inline-block;">
                    Get me to winoutt!
                </a>
            {% else %}
                <p style="margin: 0; color: crimson;">Sorry, this link has been expired.</p>
            {% endif %}

          <p style="margin-top: 30px; margin-bottom: 35px;">
            Cheers,<br>
            The Winoutt Team
          </p>
          <hr style="border: none; border-top: 1px solid #BABABA;">
          <p style="margin-bottom: 0; margin-top: 20px; color: #BBBBBB; font-size: 0.875em;">
            Winoutt LLC, 201 East 5th St. STE 1200, Sheridan, WY 82801, U.S.A.
          </p>
        </td>
      </tr>
    </tbody>
  <table>
</body>
</html>