{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" content="{{csrf_token}}">
    <link rel="icon" href="{% static 'single_page/favicon.ico' %}">
    <title>Winoutt</title>
    <!-- <link rel="stylesheet" href="{% static 'single_page/css/app.css' %}"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap">
  </head>
  <body class="scroll p-0">
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    {% csrf_token %}
    <div id="app">
        <app></app>
    </div>
    <script src="{% static 'single_page/js/app.js' %}" type="text/javascript"></script>
  
</body>
</html>